body{
    background-color: #faf8f3;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.header {
    padding :30px 645px;
    background-color: #1A1A1A;
    display: inline-block;
    color: #F8EAEA;

}
.link{
    text-align: center;
    display:inline-block;
    text-decoration: none;
    color:#ffffff;

    font-weight: bold;
    transition: 1s;
    

}
.link:hover{
  
    border-radius: 12px;
    color:#ffffff;
    background-color: #b93838;
    margin:0 10px;

}

.banner {
    color: #ffffff;
    text-align: center;
    background-color: #b93838;
    padding-bottom: 80px;
    padding-top:100px;
    padding-left: 0px 725px;
    
}
.banner p{
    margin: 30px;
    color: #ffcc00;
}
.banner button{
    border: 1px solid black;
    color: #ffffff;
    padding: 20px 45px;
    background-color: #1a1a1a;
}
.banner button:hover{
    border-radius: 12px;
    transform: translateY(-5px);
    background-color: #ffffff;
    color: #b93838;
    text-decoration: underline;
}
.main{
    text-align: center;
    padding: 0px 375px;

}
.introduce {
    border: 2px solid #e5e5e5;
    margin-top: 30px;
    padding: 50px 43px;
    color: #333333;
    box-shadow: rgba(0,0,0,0.08);
    border-radius: 10px;



}

.introduce:hover {
    border-color: #fef3c7;
    transform: translateY(-5px);
    border: 5px solid #fef3c7;


}
.note{
    border: 460px 25px;
    margin: 20px 10px;

    border: 1px solid rgb(218, 197, 197);
    background-color: rgba(231, 203, 203, 0.1)d;
}

.route {
    margin: 30px;
    border: 5px solid #e5e5e5;
    margin-top: 30px;
    padding: 50px 19px;
    color: #333333;
    box-shadow: rgba(0,0,0,0.08);
    border-radius: 10px;


}
.head{
    padding: 20px;

    background-color: #ffcc00;
}
.route:hover {
    text-align: center;
    border-color: #fef3c7;
    transform: translateY(-5px);
    border: 5px solid #fef3c7;


}
.route:focus{
    background-color: rgba(220,38,38,0.1) ;

}


.register {
    border: 1px solid white;

    margin: 30px;
    padding: 40px 30px;


}
.register:hover{
        border-color: #fef3c7;
    transform: translateY(-5px);
    border: 5px solid #fef3c7;

}

.contact {
    margin: 30px;
    padding: 40px 30px;


}
.contact:hover{
    border-color: #fef3c7;
    transform: translateY(-5px);
    border: 5px solid #fef3c7;
}
.contact_list{
    padding: 40px;
    padding-right: 700px;

    border: 1px solid rgb(59, 22, 22);
    background-color: rgba(220,38,38,0.1);
}

.footer {
    padding: 40px 600px;
    color: white;
    text-align: center;
    background-color: #1A1A1A;
}
